*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(245, 248, 255);
}
/* body part */
.raleway-fonts{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* banner section */
.header-section{
    background-image: url(../images/Hero-bg.png);
    max-width: 1440px;
}
.banner-section-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px 200px 100px;

}
nav ul li {
    list-style: none;

}
nav ul li a{
    text-decoration: none;
}
.banner-logo{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}
.btn-primary{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    

}

.banner-content{
    text-align: center;
    padding: 0px 240px;
    padding-bottom: 50px;
}
.banner-content-h2{
font-size: 65px;
font-weight: 700;
color: #242532;
padding-bottom: 37px;
}



/* section-02 main section/Action section  */
.action-section{
    margin: 116px 159px 116px 141px;
}
.action-section-content{
display: flex;
justify-content: space-between;
}
.action-h2{
    font-size: 42px;
    font-weight: 700;
    color: #242532;
    padding-top: 62px;
    padding-bottom: 23px;
}
.action-p{
    font-size: 24px;
    padding-right: 150px;
    margin-bottom: 23px;
    color:rgb(37, 36, 50, 0.5) ;
}
.action-img{
    border-radius: 48px;
    
}



/* main part-02 */
.main-part-02{
  margin: 0px 159px 116px 141px;
  background-color: rgb(78, 71, 255, 0.1);
  border-radius: 24px;


}
.main-part-02-h{
    font-size: 80px;
    font-weight: 700;
    color:#4E47FF;
}
.main-part-02{
    font-size: 20px;
    font-weight: 400;
    color: rgb(0, 0, 0 ,0.5);
    padding: 50px 80px;
}
.main-part-02-joined{
    text-align: center;
    color: rgb(37, 36, 50);
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 40px;
}

.main-part-02-active-users{
    display: flex;
    gap: 158px;
}


/* main part-03 /form */
.form-part{

margin: 150px 150px 15px 150px;
}

.part-3-form{
    display: flex;
    justify-content: center;align-items: center;
}
.form-h{
    font-size: 97px;
    font-weight: 700;
    color: rgb(0, 0, 0 );
    padding: 200px 0px 200px 0px;
}
input{
    margin: 5px 0px;
    width: 400px;
    height: 70px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(214,221,237);
    background-color: rgb(255, 255, 255);
}
::placeholder, textarea {
    padding:20px 32px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(0, 0, 0, 0.5);
}
label{
    font-size: 18px;
    font-weight: 400;
    color: rgb(0, 0, 0);

}

textarea{
    height: 135px;
    width: 400px;
    margin-top: 5px;
    border-radius: 10px;
     box-sizing: border-box;
      border: 1px solid rgb(214,221,237);
    background-color: rgb(255, 255, 255);
}

#btn-size{
    width: 400px;
    margin-top: 10px;
}


/* footer section  */

.footer-section{
    background-color: rgb(255, 255, 255);
    padding: 103px 255px 104px 254px;
    box-sizing: border-box;
    text-align: center;
}
.div-footer ul {
    display: flex;
    gap: 48px;
    padding-left: 210px;
    list-style: none;
  
}
.div-footer ul li a{
    text-decoration: none;
    color: rgb(137, 135, 161);
}
.div-footer-p{
     color: rgb(137, 135, 161);
     padding: 10px 145px;
}
.footer-logo{
font-size: 100px;
font-weight: 900;
color: #4E47FF;

}