*{
    margin: 0;
    padding: 0;
}
/* body part */
.raleway-fonts{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* banner section */
.header-section{
    background-image: url(../images/Hero-bg.png);
    max-width: 1440px;
}
.banner-section-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px 200px 100px;

}
nav ul li {
    list-style: none;

}
nav ul li a{
    text-decoration: none;
}
.banner-logo{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}
.btn-primary{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    

}

.banner-content{
    text-align: center;
    padding: 0px 240px;
    padding-bottom: 50px;
}
.banner-content-h2{
font-size: 65px;
font-weight: 700;
color: #242532;
padding-bottom: 37px;
}



/* section-02 main section/Action section  */
.action-section{
    margin: 116px 159px 116px 141px;
}
.action-section-content{
display: flex;
justify-content: space-between;
}
.action-h2{
    font-size: 42px;
    font-weight: 700;
    color: #242532;
    padding-top: 62px;
    padding-bottom: 23px;
}
.action-p{
    font-size: 24px;
    padding-right: 150px;
    margin-bottom: 23px;
    color:rgb(37, 36, 50, 0.5) ;
}
.action-img{
    border-radius: 48px;
    
}



/* main part-02 */
.main-part-02{
  margin: 0px 159px 116px 141px;
  background-color: rgb(78, 71, 255, 0.1);
  border-radius: 24px;


}
.main-part-02-h{
    font-size: 80px;
    font-weight: 700;
    color:#4E47FF;
}
.main-part-02{
    font-size: 20px;
    font-weight: 400;
    color: rgb(0, 0, 0 ,0.5);
    padding: 50px 80px;
}
.main-part-02-joined{
    text-align: center;
    color: rgb(37, 36, 50);
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 40px;
}

.main-part-02-active-users{
    display: flex;
    gap: 158px;
}


/* main part-03 /form */
.form-part{

    
}